<div class="row">
  <h5 class="card-title">
    <%= post.name %> / <%= post.campany %>
  </h5>
</div>
<div class="card-image">
  <%= image_tag post.get_image(200,200) %>
</div>
<p class="card-text">
  <%= post.caption %>
</p>
<div class="card-tag">
  <%= post.tags.map(&:tag_name).join(' ') %>
</div>
<% if current_user != post.user %>
  <div class="option-btn row">
  <div id="favorite_button_<%= post.id %>">
    <%= render 'public/favorites/favorite', post: post %>
  </div>
  <div id="bookmark_button_<%= post.id %>">
    <%= render 'public/bookmarks/bookmark', post: post %>
  </div>
</div>
<% end %>