<div class="container-fluid">
  <div class="row my-2">
    <h3 class="col-md-3 col-sm-5 text-center mx-5"><strong>投稿編集</strong></h3>
    <div class="col-md-2 col-sm-3 ml-auto">
      <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-8 mx-5 mb-5 p-0">
      <%= render'public/users/public_side' %>
    </div>

    <div class="bg-light border col-md-6 col-sm-10 pt-3 mb-3">
      <div class="col-md-11 col-sm-9 mx-auto">
        <div class="card mb-4 p-2">
          <div class="card-body mx-3">
            <%= render'post_creater', post: @post %>

            <%= form_with model: @post do |f| %>
              <%= render'post_form', f: f %>
              <div class="row justify-content-center">
                <div class="btn mx-3">
                  <%= f.submit'編集する', class:"btn btn-success" %>
                </div>
                <div class="btn mx-3">
                  <%= link_to'削除', post_path(@post.id), method: :delete, class:"btn btn-danger", data: { confirm: '本当に削除しますか？'} %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>