<div class="container">
  <div class="row">
    <h1>post/index</h1>
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="sidebar border">
        <ul>
          <li>
            <%= link_to'ホーム', user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to'フォロー', post_followings_path(current_user) %>
          </li>
          <li>
            <%= link_to'フォロワー', post_followers_path(current_user) %>
          </li>
          <li>
            <%= link_to'ブックマーク', post_bookmarks_path(current_user) %>
          </li>
          <li>
            <%= link_to'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card-list">
        <% @posts.each do |post| %>
          <%= render 'post', post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div