<div class="container">
  <div class="row">
    <h1>post/index</h1>
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="sidebar border">
        <ul>
          <li>
            <%= link_to'ホーム', user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to'フォロー', post_followings_path(current_user) %>
          </li>
          <li>
            <%= link_to'フォロワー', post_followers_path(current_user) %>
          </li>
          <li>
            <%= link_to'ブックマーク', post_bookmarks_path(current_user) %>
          </li>
          <li>
            <%= link_to'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card-list">
        <% @posts.each do |post| %>
        <div class="card">
            <div class="card-body">
            <%= link_to post_path(post.id) do %>
              <div class="card-user row">
                <%= image_tag post.user.get_profile_image(100,100), class:'rounded-circle profile-icon' %>
                <%= post.user.name %>
                <%= post.created_at.strftime("%Y/%m/%d") %>
              </div>
              <div class="row">
                <div class="card-title">
                  <%= post.name %> / <%= post.campany %>
                </div>
              </div>
              <div class="card-image">
                <%= image_tag post.get_image(200,200) %>
              </div>
              <p class="card-text">
                <%= post.caption %>
              </p>
              <div class="card-tag">
                <%= post.tags.map(&:tag_name).join(' ') %>
              </div>
              <div class="favorite-btn">
                <div id="favorite_button_<%= post.id %>">
                  <%= render 'public/favorites/favorite', post: post %>
                </div>
              </div>
            <% end %>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div