<div class="container">
  <div class="row">
    <h3>新規投稿</h3>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="sidebar">

      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <%= image_tag @post.user.get_profile_image(100,100), class:"rounded-circle", size:"80x80" %>
        <h4><%= @post.user.name %></h4>
      </div>
      <%= form_with model: @post do |f| %>
      <div class="row form-group">
        <label for="inputName" class="col-2">商品名</label>
        <%= f.text_field :name, class:"form-control col-7", id:"inputName", placeholder:"商品名" %>
      </div>
      <div class="row form-group">
        <label for="inputCampany" class="col-2">メーカー名<br>任意</label>
        <%= f.text_field :campany, class:"form-control col-7", id:"inputCampany", placeholder:"メーカー" %>
      </div>
      <div class="row form-group">
        <label for="inputCaption" class="col-2">投稿文</label>
        <%= f.text_area :caption, class:"form-control col-7", id:"inputCaption", placeholder:"オススメポイント・使ってみた感想など" %>
      </div>
      <div class="row form-group">
        <label for="inputTagName" class="col-2">タグ</label>
        <%= f.text_field :tag_name, class:"form-control col-7", id:"inputTagName", placeholder:"タグ（半角スペースで複数登録できます。）" %>
      </div>
      <div class="row justify-content-center">
        <%= f.submit'投稿する', class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>