<div class="container">
  <div class="row">
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    <div class="title">コメント件</div>
    <% if @post.user.id == current_user.id %>
      <%= link_to'編集する', edit_post_path(@post), class:'btn btn-primary' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="sidebar border">
        <ul>
          <li>
            <%= link_to'ホーム', user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to'フォロー', post_followings_path(current_user) %>
          </li>
          <li>
            <%= link_to'フォロワー', post_followers_path(current_user) %>
          </li>
          <li>
            <%= link_to'ブックマーク', post_bookmarks_path(current_user) %>
          </li>
          <li>
            <%= link_to'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
        <%= link_to user_path(@post.user_id) do %>
          <div class="card-user row">
            <%= image_tag @post.user.get_profile_image(100,100), class:'rounded-circle profile-icon' %>
            <%= @post.user.name %>
            <%= @post.created_at.strftime("%Y/%m/%d") %>
          </div>
          <div class="row">
            <div class="card-title">
              <%= @post.name %> / <%= @post.campany %>
            </div>
          </div>
          <div class="card-image">
            <%= image_tag @post.get_image(200,200) %>
          </div>
          <p class="card-text">
            <%= @post.caption %>
          </p>
          <div class="card-tag">
            <% @tag_lists.each do |tag| %>
              <%= tag.tag_name %>
            <% end %>
          </div>
          <div class="favorite-btn">
            <% if @post.favorited_by?(current_user) %>
              <p class="post-option">
                <%= link_to post_favorites_path(@post), method: :delete do %>
                  ♥<%= @post.favorites.count %>いいね
                <% end %>
              </p>
            <% else %>
              <p class="post-option">
                <%= link_to post_favorites_path(@post), method: :post do %>
                  ♡<%= @post.favorites.count %>いいね
                <% end %>
              </p>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>