<div class="container">
  <div class="row">
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    <h5 class="comment">コメント<%= @post.post_comments.count %>件</h5>
    <% if @post.user.id == current_user.id %>
      <%= link_to'編集する', edit_post_path(@post), class:'btn btn-primary' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render'public/users/public_side' %>
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <%= link_to user_path(@post.user.id) do %>
            <%= render'post_creater', post: @post %>
          <% end %>
          <%= render 'post', post: @post %>
        </div>
      </div>
    <% @post.post_comments.each do |post_comment| %>
      <div class="card">
        <div class="card-body">
          <%= link_to user_path(post_comment.user) do %>
            <%= render"public/post_comments/post_comment", post_comment: post_comment %>
          <% end %>
        </div>
      </div>
    <% end %>
      <div class="card">
        <div class="card-body">
          <h5>コメント投稿</h5>
          <%= form_with model:[@post, @post_comment] do |f| %>
            <div class="form-label">
              <%= f.text_area :comment, class:"form-control",rows:'3', placeholder:"コメント入力" %>
            </div>
            <div class="text-right">
              <%= f.submit"送信する", class:"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>