<div class="container">
  <div class="row">
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    <div class="title">コメント件</div>
    <% if @post.user.id == current_user.id %>
      <%= link_to'編集する', edit_post_path(@post), class:'btn btn-primary' %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render'public/users/public_side' %>
    </div>
    <div class="card col-8">
      <div class="card-body">
        <%= link_to user_path(@post.user.id) do %>
          <%= render'post_creater', post: @post %>
        <% end %>
        <%= render 'post', post: @post %>
      </div>
    </div>
  </div>
</div>