<div class="container">
  <div class="row no-gutters">
    <div class="site-caption col-5 border rounded-3 text-center">
      <h1 class="site-title text-white bg-danger">Fleur Crayon</h1>
      <h4 class="site-caption">
        好きな文房具<br>
        オススメの文房具を<br>
        共有しよう！</h4>
    </div>
    <div class="col-5 border">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="sign-form border">
        <h5 class="border-bottom">管理者ログイン</h5>

        <div class="field">
          <label for="inputEmail">メールアドレス</label><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"inputEmail" %>
        </div>

        <div class="field">
          <label for="inputPassword">パスワード</label><br />
          <%= f.password_field :password, autocomplete: "current-password", id:"inputPassword" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary" %>
        </div>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>