<% if users.exists? %>
  <% users.each do |user| %>
    <div class="card mb-4 p-2">
      <div class="card-body row ml-3 py-0">
        <%= link_to user_path(user.id), class:"text-decoration-none" do %>
          <h5 class="card-user row align-items-center">
            <div class="mr-2">
              <%= image_tag user.get_profile_image(100,100), class:"rounded-circle profile-icon" %>
            </div>
            <div class="mr-4">
              <%= user.name %>
            </div>
            <div class="">
              <strong><%= user.followings.count %></strong>フォロー
              <strong><%= user.followers.count %></strong>フォロワー
            </div>
          </h5>
        <% end %>
        <div class="col-md-6 col-sm-5 text-right ml-auto my-auto">
          <%= render"follow_button", user: user %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card mb-4 p-2">
    <div class="card-body ml-3">ユーザーはいません</div>
  </div>
<% end %>