<div class="container">
  <div class="row">
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    <h5>"<%= @keyword %>" の投稿一覧</h5>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render'public/users/public_side' %>
    </div>

    <div class="col-8">
      <% if @range == "Post" && @posts.present? %>
        <% @posts.each do |post| %>
        <div class="card">
          <div class="card-body">
            <%= link_to post_path(post.id) do %>
              <%= render 'public/posts/post_creater', post: post %>
              <%= render 'public/posts/post', post: post %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% elsif @range == "User" && @users.present? %>
        <% @users.each do |user| %>
          <div class="card">
            <div class="card-body">
              <%= link_to user_path(user.id) do %>
                <%= render'public/users/user_data', user: user %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>検索結果はありません</p>
      <% end %>
    </div>
  </div>
</div>
