<h6 class="card-user row align-items-center">
  <div class="mr-2">
    <%= image_tag post_comment.user.get_profile_image(100,100), class:'rounded-circle profile-icon' %>
  </div>
  <div class="mr-4">
    <%= post_comment.user.name %>
  </div>
  <div class="ml-auto">
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
  </div>
</h6>

<div class="row">
  <div class="card-comment mt-2">
    <%= post_comment.comment %>
  </div>
  <div class="delete-btn ml-auto">
    <% if post_comment.user == current_user %>
      <%= link_to post_post_comment_path(post_comment.post, post_comment), class: "btn btn-danger rounded-circle", method: :delete, data: { confirm: '本当に削除しますか？'} do %>
        <i class="fas fa-eraser"></i>
      <% end %>
    <% end %>
  </div>
</div>