<div class="container">
  <div class="row">
    <div class="title">ユーザー一覧</div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render'admin/homes/admin_side' %>
    </div>
    <div class="col-8">
      <table class="table-list">
        <% @users.each do |user| %>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">ユーザ名</th>
              <th scope="col">登録日</th>
              <th scope="col">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100), class:"rounded-circle profile-icon" %></td>
              <td><%= user.name %></td>
              <td><%= user.created_at.strftime("%Y/%m/%d") %></td>
              <td><% if user.is_active %>
              </td>
            </tr>
          </tbody>
        <% end %>
        <%= link_to'ログアウト', destroy_admin_session_path, method: :delete %>
      </table>
    </div>
  </div>
</div>