<div class="container-fluid">
  <div class="row my-2">
    <h3 class="col-md-4 col-sm-6 text-center mx-5"><strong>ユーザー詳細</strong></h3>
    <div class="col-md-2 col-sm-3 text-right">
      <%= link_to"編集する", edit_admin_user_path, class:"btn btn-success" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-8 mx-5 mb-5 p-0">
      <%= render'admin/homes/admin_side' %>
    </div>

    <div class="bg-light border col-md-6 col-sm-10 pt-3 px-0 mb-3">
      <div class="col-12 mx-auto mb-3">
        <div class="card mb-4 p-3">
          <div class="card-body">
            <h5 class="card-user row align-items-center">
              <div class="mx-2">
                ユーザーID:<%= @user.id %>
              </div>
              <div class="mr-4">
                <%= image_tag @user.get_profile_image(80,80), class:'rounded-circle', size:"50x50" %>
              </div>
              <div class="mr-6">
                <%= @user.name %>
              </div>
              <div class="ml-md-auto">
                <%= @user.created_at.strftime("%Y/%m/%d") %>
              </div>
            </h5>

            <div class="card-detail row justify-content-center">
              <div class="mx-auto">
                <%= @user.email %>
              </div>
              <% if @user.is_active %>
                <p class="text-success mx-auto"><strong>有効</strong></p>
              <% else %>
                <p class="text-buted mx-auto"><strong>退会</strong></p>
              <% end %>
            </div>
            <div class="table-responsive d-flex justify-content-center">
              <table class="table text-nowrap text-center ml-5">
                <thead class="border-0">
                  <tr>
                    <th scope="col">投稿日</th>
                    <th scope="col">商品名</th>
                    <th scope="col">メーカー</th>
                  </tr>
                </thead>
                <tbody class="border">
                  <% @posts.each do |post| %>
                  <tr data-href="/admin/posts/<%= post.id %>">
                    <td><%= post.created_at.strftime("%Y/%m/%d") %></td>
                    <td><%= post.name %></td>
                    <td><%= post.campany %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

