<div class="container">
  <div class="row no-gutters">
    <div class="site-caption col-5 border rounded-3 text-center">
      <h1 class="site-title text-white bg-danger">Fleur Crayon</h1>
      <h4 class="site-caption">
        好きな文房具<br>
        オススメの文房具を<br>
        共有しよう！</h4>
    </div>
    <div class="col-5 border">
      <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="sign-form border">
        <h5 class="border-bottom">ログイン</h5>

        <div class="field">
          <label for="inputEmail">メールアドレス</label><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"inputEmail", placeholder:"sample@mail.com" %>
        </div>

        <div class="field">
          <label for="inputPassword">パスワード</label><br />
          <%= f.password_field :password, autocomplete: "current-password", id:"inputPassword" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary" %>
        </div>
      <% end %>

      <div class="row">
        <p class="sign-link">新規登録は<%= link_to"こちら", new_user_registration_path %></p>
        <%= link_to"ゲストログイン", users_guest_sign_in_path, method: :post %>
      </div>

      <%= render "public/shared/links" %>
    </div>
  </div>
</div>