<div class="sidebar border">
  <ul>
    <li>
      <%= link_to'ホーム', user_path(current_user.id) %>
    </li>
    <li>
      <%= link_to'フォロー', user_followings_path(current_user) %>
    </li>
    <li>
      <%= link_to'フォロワー', user_followers_path(current_user) %>
    </li>
    <li>
      <%= link_to'ブックマーク', bookmarks_users_path %>
    </li>
    <li>
      <%= link_to'ログアウト', destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>