<div class="container">
  <div class="row">
    <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    <h5 class="title">ブックマーク一覧</h5>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="sidebar border">
        <ul>
          <li>
            <%= link_to'ホーム', user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to'フォロー', post_followings_path(current_user) %>
          </li>
          <li>
            <%= link_to'フォロワー', post_followers_path(current_user) %>
          </li>
          <li>
            <%= link_to'ブックマーク', bookmarks_users_path %>
          </li>
          <li>
            <%= link_to'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card-list">
        <% if @bookmarks.present? %>
          <% @bookmarks.each do |post| %>
            <%= render 'public/posts/post', post: post %>
          <% end %>
        <% else %>
          <p>ブックマークされた投稿はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>