<div class="container">
  <div class="row">
    <div class="post-link">
      <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    </div>
    <h2>ホーム</h2>
    <div class="user-date row align-items-baseline">
      <div class="user-icon">
        <%= image_tag @user.get_profile_image(100,100), class:"rounded-circle", size:"50x50" %>
      </div>
      <h5 class="user-name">
        <%= @user.name %>
      </h5>
      <% if @user.id == current_user.id %>
      <div class="edit-link">
        <%= link_to'ユーザー編集', edit_user_path(current_user.id), class:"btn btn-primary" %>
      </div>
      <% else %>
      <div class="follow">
        フォローする
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="sidebar border">
        <ul>
          <li>
            <%= link_to'ホーム', user_path(current_user.id) %>
          </li>
          <li>
            <%= link_to'フォロー', post_followings_path(current_user) %>
          </li>
          <li>
            <%= link_to'フォロワー', post_followers_path(current_user) %>
          </li>
          <li>
            <%= link_to'ブックマーク', post_bookmarks_path(current_user) %>
          </li>
          <li>
            <%= link_to'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card-list">
        <% @posts.each do |post| %>
          <%= render 'public/posts/post', post: post %>
        <% end %>
      </div>
    </div>
  </div>
</div>