<div class="container-fluid">
  <div class="row my-2 align-items-center">
    <% if @user.id == current_user.id %>
      <h3 class="col-md-3 col-sm-3 text-center"><strong>ホーム</strong></h3>
    <% else %>
      <h3 class="col-md-3 col-sm-4 text-center"><strong>ユーザー詳細</strong></h3>
    <% end %>
    <div class="col-md-3 col-sm-4">
      <%= render'user_data', user: @user %>
    </div>
    <div class="h6 col-md-2 col-sm-4 text-right">
      <strong><%= @user.followings.count %></strong>フォロー
      <strong><%= @user.followers.count %></strong>フォロワー
    </div>
    <% if @user.id == current_user.id %>
      <div class="col-md-2 col-sm-3 text-right">
        <%= link_to'ユーザー編集', edit_user_path(current_user.id), class:"btn btn-success" %>
      </div>
    <% else %>
      <div class="col-md-2 col-sm-3 text-right">
        <%= render "public/relationships/follow_button", user: @user %>
      </div>
    <% end %>
    <div class="col-md-2 col-sm-3 ml-auto">
      <%= link_to'投稿する', new_post_path, class:'btn btn-primary' %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-8 mx-5 mb-5 p-0">
      <%= render'public/users/public_side' %>
    </div>

    <div class="bg-light border col-md-6 col-sm-10 pt-3 mb-3">
      <div class="col-md-11 col-sm-9 mx-auto">
        <% if @posts.exists? %>
          <% @posts.each do |post| %>
            <div class="card mb-4 p-2">
              <div class="card-body ml-3">
                <%= link_to post_path(post.id), class:"text-decoration-none" do %>
                  <%= render 'public/posts/post', post: post %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="card mb-4 p-2">
            <div class="card-body ml-3">投稿はありません</div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>