<!DOCTYPE html>
<html>
  <head>
    <title>FleurCrayon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/09b1dd4dc3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="border-bottom border-dark">
      <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand p-3" href="/posts">Fleur Crayon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto align-items-center">
          <% if current_user %>
            <li class="nav-item">
              <%= image_tag current_user.get_profile_image(100,100), class:"rounded-circle profile-icon" %>
            </li>
            <li class="nav-item">
              <%= current_user.name %>
            </li>
          <% else %>
            <li>管理者</li>
          <% end %>
            <li class="nav-item">
              <%= form_with url: search_path, method: :get do |form| %>
                <%= form.text_field :keyword, placeholder:"検索" %>
                <%= form.select :range, options_for_select([['投稿','Post'],['ユーザー','User']]) %>
                <%= form.submit "検索" %>
              <% end %>
              <%= form_with url: tag_search_path, method: :get do |form| %>
                <%= form.collection_select :tag_search, Tag.all, :tag_name, :tag_name, options = { include_blank: "タグ" }  %>
                <%= form.submit "タグ検索" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer class="border-top border-dark">
      <div class="container">
        <div class="row no-gutters">
          <h2 class="title">Fleur Crayon</h2>
          <div class="footer-item">
            <%= link_to'退会', users_confirm_path, class:'text-dark' %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
